
body {
    font-family: 'Roboto' , 'Poppins', sans-serif;
}
.banner{
    border-radius: 15px;
}
.banner::before{
    height: 100%;
    content: '';
    position: absolute;
    background: #00000083;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1;
    
}
.carousel-part {
    z-index: 999;
}
.banner img{
    height: 700px;
}
.carousel-part h1{
    font-size: 3.6rem;
}

/* Popular Course Section */
.discover-containt h1 {
    font-size: 50px;
}
.discover-containt p {
    font-size: 20px;
}
/* Elearning section */

.elearning-section {
    margin-top: 120px;
}
.elearning {
    background-color: #F4FAFD;
}
.elearning-content h3{
    font-size: 50px;
    margin-bottom: 20px;
}

/* Ready to join section */
.ready-to-join{
    color: #ffffff;
    height:300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}
/* Students Section */
.successfull-students{
    margin-top: 120px;
}
.meet-students {
    font-size: 50px;
    font-weight: 700;
}


.student-btn{
    font-weight: 600;
    padding: 15px 40px;
    background-color:#289BDE;
    color: #fff;
    font-size: 1.3rem;
    transition: all .3s;
}
.student-btn:hover{
    background-color: #248fc4;
    color: #fff;
}





 /* tablet device */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .content-section h1 {
        font-size: 46px;
    }
    .content-section p {
        font-size: 20px;
    }
    .containt-hidden{
        display: none;
    }
    .popular-image img{
        height: 240px;
        width: 100%;
    }
    .popular-content {
        margin-top: -10px;
    }
    .popular-content h4 {
        font-size: 35px;
    }
    .popular-content  p {
        font-size: 20px;
    }
    .elearning-content h3{
        margin-top: 60px;
    }
    .elearning-content p {
        font-size: 20px;
    }
}
    
/* Mobile device */
@media screen and (min-width: 320px) and (max-width:767px) {
    .content-section h1 {
        font-size: 40px;
    }
    .content-section p {
        font-size: 20px;
    }
    .containt-hidden{
        display: none;
    }
    .popular-image img{
        height: 300px;
        width: 100%;
    }
    .popular-image {
        flex-direction: column;
    }
    .popular-content h4 {
        font-size: 35px;
    }
    .popular-content  p {
        font-size: 25px;
    }
    .elearning-content h3{
        margin-top: 60px;
        font-size: 45px;
    }
    .elearning-content p {
        font-size: 20px;
    }
}