
body {
    font-family: 'Roboto' , 'Poppins', sans-serif;
}
.banner{
    border-radius: 15px;
}
.banner::before{
    height: 100%;
    content: '';
    position: absolute;
    background: #00000083;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    z-index: 1;
    
}
.carousel-part {
    z-index: 999;
}
.banner img{
    height: 700px;
}
.carousel-part h1{
    font-size: 3.6rem;
}

/* Popular Course Section */
.discover-containt h1 {
    font-size: 50px;
}
.discover-containt p {
    font-size: 20px;
}
 /* tablet device */
@media screen and (min-width: 768px) and (max-width: 1023px){

    .content-section h1 {
        font-size: 46px;
    }
    .content-section p {
        font-size: 20px;
    }
    .containt-hidden{
        display: none;
    }
    .popular-image img{
        height: 240px;
        width: 100%;
    }
    .popular-content {
        margin-top: -10px;
    }
    .popular-content h4 {
        font-size: 35px;
    }
    .popular-content  p {
        font-size: 20px;
    }
}
    
/* Mobile device */
@media screen and (min-width: 320px) and (max-width:767px) {
    .content-section h1 {
        font-size: 40px;
    }
    .content-section p {
        font-size: 20px;
    }
    .containt-hidden{
        display: none;
    }
    .popular-image img{
        height: 300px;
        width: 100%;
    }
    .popular-image {
        flex-direction: column;
    }
    .popular-content h4 {
        font-size: 35px;
    }
    .popular-content  p {
        font-size: 25px;
    }
}